--extra-index-url https://download.pytorch.org/whl/cpu 
streamlit>=1.28.0 
catt-tashkeel 
torch 
transformers 
sentencepiece 
protobuf 
onnxruntime
pyspellchecker>=0.8.0
language_tool_python>=2.7.1
git+https://github.com/PrithivirajDamodaran/Gramformer.git

